body {
    border: 0cm;
}
a {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a.main-button {
    padding-left: 1.5cm;
    padding-right: 1.5cm;
}
a.header-button {
    padding-left: 1cm;
    position: static;
}
input {
    border-radius: 10px;
    height: 20px;
    width: 250px;
}
header {
    background-color: red;
    height: 40px;
    position: fixed;
}
main {
    padding-top: 2cm;
}