body {
    border: 0cm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
a.main-button {
    padding-left: 1.5cm;
    padding-right: 1.5cm;
}
a.header-button {
    padding-left: 1cm;
    position: static;
}
input {
    border-radius: 10px;
    height: 20px;
    width: 250px;
}
main {
    padding-top: 2cm;
}
.navbar {
    position: fixed; /* Фиксированное положение */
    top: 0;          /* Находится вверху страницы */
    left: 0;         /* Находится слева */
    width: 100%;     /* Ширина на всю ширину страницы */
    background-color: rgba(100, 55, 4, 0.9); /* Полупрозрачный фон */
    padding: 10px;   /* Отступы вокруг меню */
    z-index: 1000;   /* Устанавливаем выше других элементов */
}

.nav-list {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0;            /* Убираем внутренние отступы */
    margin: 0;             /* Убираем внешние отступы */
    display: flex;         /* Используем Flexbox для выравнивания */
    justify-content: space-around; /* Равномерное распределение элементов */
}

.nav-list li {
    margin: 0; /* Убираем отступы между элементами списка */
}

.nav-list a {
    text-decoration: none; /* Убираем подчеркивание */
    color: rgb(255, 255, 255);         /* Цвет текста ссылок */
    font-size: 20px;      /* Размер шрифта */
    transition: color 0.3s; /* Плавный переход цвета при наведении */
}

.nav-list a:hover {
    color: #fffb00; /* Цвет текста при наведении */
}